a{
    background-color: coral;
    width: 5%;
    border: 5px solid rgb(235, 201, 227);
    padding: 0px;
    margin-top: 2%;
    margin-left: 8%;
    bottom: 0%;
    border-radius: 2%;
    text-align: center;
}
.div2{
 width: 300px;
  padding: 50px;
  margin: 20px;
}
section{
    display: flex;
    
}
.harry{
    color: rgb(119, 9, 9);
    margin-top: 2px;
    margin-left: 50%;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.magic{
    color: rgb(219, 43, 12);
    margin-top: 2px;
    margin-left: 50%;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
